@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  /* Background colors */
  --bg1: #ffffff;
  --bg2: #e6e6e6;
  --text1: #1e1d25;
  --text2: #9ea4a9;
  --accent: #6a4dff;
  --accent2: #ccccff;

  /* Font sizes */
  --font-xl: 6rem; /* 96px */
  --font-l: 2.5rem; /* 40px */
  --font-s: 1rem; /* 16px */

  /* Font families */
  --font-body: "Nunito", sans-serif;
}

@theme inline {
  /* Background colors */
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-text1: var(--text1);
  --color-text2: var(--text2);
  --color-accent: var(--accent);
  --color-accent2: var(--accent2);

  /* Font sizes */

  /* Font families */
  --font-family-body: "Nunito", sans-serif;
}

body {
  background: var(--bg1);
  color: var(--color-text1);
  font-family: var(--font-family-body);
}
