@import "tailwindcss";

:root {
  /* Background colors */
  --bgdark: #022129;
  --bglight: #082b34;
  --white: #ffffff;
  --muted: #808080;
  --accent: #7adaac;

  /* Font sizes */
  --font-xl: 6rem; /* 96px */
  --font-l: 2.5rem; /* 40px */
  --font-s: 1rem; /* 16px */

  /* Font families */
  --font-titles: "Comic Sans", serif;
  --font-body: "Nunito", sans-serif;
}

@theme inline {
  /* Background colors */
  --color-bgdark: var(--bgdark);
  --color-bglight: var(--bglight);
  --color-white: var(--white);
  --color-muted: var(--muted);
  --color-accent: var(--accent);

  /* Font sizes */
  --text-xl: var(--font-xl);
  --text-l: var(--font-l);
  --text-s: var(--font-s);

  /* Font families */
  --font-family-titles: var(--font-titles);
  --font-family-body: var(--font-body);
}

body {
  background: var(--bgdark);
  color: var(--color-white);
}
